# build
bin/*
dist/
internal/web/handlers/assets/fonts/*
internal/web/handlers/assets/js/*
!internal/web/handlers/assets/js/.gitkeep
internal/**/*.pb.go

# NVM
.nvmrc

# tmp files
tmp/*

# MacOS
.DS_Store

# VSCode
.vscode

# certs
cert/*.pem
cert/*.srl
