# build
bin/*
dist/
service/frontend/web/handler/assets/fonts/*
service/frontend/web/handler/assets/*
!service/frontend/web/handler/assets/.gitkeep
internal/**/*.pb.go

# NVM
.nvmrc

# tmp files
tmp/*

# MacOS
.DS_Store

# VSCode
.vscode

# Goland
.idea

# certs
cert/*.pem
cert/*.srl
