.code-indent {
  display: contents;
}

a {
  color: #485fc7;
  cursor: pointer;
  text-decoration: none;
}

.title {
  margin-bottom: 0 !important;
}

* {
  box-sizing: border-box;
}

#nav-title {
  color: white;
  font: 20px 'Arial';
  font-weight: bold;
  padding-left: 4px;
}
