.code-indent {
  display: contents;
}

a {
  color: #485fc7;
  cursor: pointer;
  text-decoration: none;
}

.title {
  margin-bottom: 0 !important;
}

* {
  box-sizing: border-box;
}

#nav-title {
  color: white;
  font: 20px 'Arial';
  font-weight: bold;
  padding-left: 4px;
}

.MuiTableRow-root th {
  background-color: #485fc7;
  color: #fff;
  font-weight: 600;
}

.MuiTableRow-root td {
  font-weight: 600;
}

.line-highlight {
  margin-top: 1.4em !important;
  background-color: rgba(255,255,0,0.2) !important;
}