name: Release
on:
  create:
    tags:
      - '*'

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18.x

      - name: Set up NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 16
      
      - name: Set up yarn
        run: npm install --global yarn

      - name: Check out code
        uses: actions/checkout@v3
      
      - name: Yarn install
        run: yarn install
        working-directory: admin

      - name: Build web UI
        run: yarn build
        working-directory: admin

      - name: Copy web assets
        run: |
          cp admin/dist/bundle.js ./internal/admin/handlers/web/assets/js/

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{secrets.DAGU_GITHUB_TOKEN}}