name: Test
on: [push, pull_request]
jobs:
  build:
    name: Test
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.17.x

    - name: Check out code
      uses: actions/checkout@v3

    - name: Cache Go modules
      uses: actions/cache@v1
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    - name: Test
      run: |
        mkdir -p ./bin
      	go build -o ./bin/dagu ./cmd/
        go test -v -coverprofile="coverage.txt" -covermode=atomic ./...
    - name: Upload coverage
      uses: codecov/codecov-action@v2